<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vam1994.whyw8">

    //Below Added By Michael Haas
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    //Above added by Michael Haas

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" /> //Added by Michael Haas

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Why W8"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">

        //Below added by Michael Haas
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        //Above added by Michael Haas

        <activity android:name="com.example.vam1994.whyw8.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Below added by Michael Haas
        <activity android:name="com.example.vam1994.whyw8.QRScanWindow" />
        <activity android:name="com.example.vam1994.whyw8.ScannedBarcodeActivity" />
        //Above added by Michael Haas

        <activity android:name="com.example.vam1994.whyw8.MainScreen" />
        <activity android:name="com.example.vam1994.whyw8.SignUpActivity" />
        <activity android:name="com.example.vam1994.whyw8.Menu" />
        <activity android:name="com.example.vam1994.whyw8.MenuAdapter" />
        <activity android:name="com.example.vam1994.whyw8.ReservationTime" />
        <activity android:name="com.example.vam1994.whyw8.TableAvailability" />
        <activity android:name="com.example.vam1994.whyw8.TableReservation" />
        <activity android:name="com.example.vam1994.whyw8.TablesImage" />
        <activity android:name="com.example.vam1994.whyw8.ThreeDiningOptions" />
        <activity android:name="com.example.vam1994.whyw8.Chef" />
        <activity android:name="com.example.vam1994.whyw8.Waiter" />
        <activity android:name="com.example.vam1994.whyw8.Message" />
        <activity android:name="com.example.vam1994.whyw8.ManagerOptions" />
        <activity android:name="com.example.vam1994.whyw8.ManagerEditItem" />
        <activity android:name="com.example.vam1994.whyw8.ManagerEditEmployee" />
        <activity android:name="com.example.vam1994.whyw8.ManagerStatistics" />
        <activity android:name="com.example.vam1994.whyw8.ManagerInventory" />
        <activity android:name="com.example.vam1994.whyw8.ManagerTraffic" />
        <activity android:name="com.example.vam1994.whyw8.ManagerProfits" />
        <activity android:name="com.example.vam1994.whyw8.RatingPage" />
        <activity android:name="com.example.vam1994.whyw8.Busboy" />
        <activity android:name="com.example.vam1994.whyw8.Payment"></activity>
    </application>

</manifest>